<div class="card-wrapper">
    <mat-card class="home-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Today date</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let todo of todos; let i = index" class="home-inside-card">
        <button 
          mat-button
          [ngClass]="{ done: todo.done }"
          (click)="toggleDone(i)"
        >
      {{ todo.done ? '✔' : todo.id }}
        </button>
        <p [class.done-text]="todo.done" class="todo-text">{{ todo.text }}</p>
      </div>
    </mat-card-content>
    </mat-card>
</div>