$primary-color: rgb(25, 31, 101);
$secondary-color: rgb(184, 190, 254);
$button-color: rgb(7, 9, 40);
$done-button-color: rgb(92, 103, 219);


div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.home-card {
  background-color: $primary-color;
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5%;
}

.home-inside-card {
  background-color: $button-color;
  width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
  text-align: left;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

button[mat-button]{
  color: $secondary-color;
  background-color: $button-color;
  border-radius: 10%;
  border: solid $primary-color 1pt;
  box-shadow: none;
  outline: none;
  padding: 5pt;
  font-size: 8pt;
}

button[mat-button]:hover, button[mat-button]:active{
  color: white;
  background-color: $primary-color;

}

.done {
  background-color: $done-button-color !important;
  color: white !important;
  border-color: $done-button-color !important;
}

.todo-text{
  color: $secondary-color;
  margin-bottom: 0px;
}

