$primary-color: rgb(25, 31, 101);
$secondary-color: rgb(184, 190, 254);
$button-color: rgb(7, 9, 40);
$done-button-color: rgb(92, 103, 219);
$placeholder-color: rgb(139, 149, 255);
$button-act-color: rgb(100, 113, 255);
$red: rgb(134, 0, 0);
$yellow: rgb(214, 175, 0);
$green: rgb(0, 90, 35);


div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.home-card {
  background-color: $primary-color;
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5%;
}

.home-inside-card {
  background-color: $button-color;
  width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; // EZ húzza szét balra-jobbra
  border-radius: 5%;
  margin: 5px 0;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.todo-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
}


button[mat-button]{
  color: $secondary-color;
  background-color: $button-color;
  border-radius: 10%;
  border: solid $primary-color 1pt;
  box-shadow: none;
  outline: none;
  padding: 5pt;
  font-size: 8pt;
}

button[mat-button]:hover, button[mat-button]:active{
  color: white;
  background-color: $button-act-color;

}

.done {
  background-color: $done-button-color !important;
  color: white !important;
  border-color: $done-button-color !important;
}

.todo-text{
  color: $secondary-color;
  margin-bottom: 0px;
}

input{
  background-color: $button-color;
  color: $secondary-color;
  border: 1px solid $done-button-color;
  box-shadow: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-left: 10px;
}

input::placeholder{
  color: $placeholder-color;
}

.delete-icon{
  color: $done-button-color;
}

.delete-icon:hover{
  color: $red;
}

.cancel-icon{
  color: $done-button-color;
}

.cancel-icon:hover{
  color: $red;
}

.edit-icon{
  color: $placeholder-color;
}

.edit-icon:hover{
  color: $yellow;
}

.save-icon{
  color: $placeholder-color;
}

.save-icon:hover{
  color: $green;
}
