$bgcolor: rgb(0, 0, 35);
$textcolor: rgb(202, 202, 255);

html{
    background-color: $bgcolor;
    color: $textcolor;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
